@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
background-color: orange;
font-color: black;
}

body {
    padding-top: 60px;
}

.jumbotron {
  margin: 75px 155px 75px 155px;
  border: 1px solid black;
}

.navbar-brand {
  color: black;
  font-size: 30px;
  text-decoration: none;
  }

.panel-body {
  min-height: 100px;
}
