@import "bootstrap-sprockets";
@import "bootstrap";


body {
    padding-top: 60px;
}

.panel-body {
  min-height: 100px;
}

/*.navbar-nav {
padding-top: 15px;
}*/

/*.navbar-brand {
  color: black;
  font-size: 20px;
  text-decoration: none;
}*/

/*.navbar {
  font-color: black;
}*/

/*.jumbotron {
  margin: 75px px 75px px;
  border: 1px solid black;
}*/

/* Row outlines from Wes lightning talk or add chrome plugin called pesticide:
.row {
outline: 1px solid red;
}
.row > div {
outline: 1px solid blue;
}
.row > div > div {
outline: 1px solid green;
}*/
